.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: 100px;
  max-width: 1140px;
  margin: auto;
  padding: 0 16px;
  position: relative;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
  background-color: white;
}

a {
  text-decoration: none;
  color: #035755;
}

.title {
  margin-left: 14px;
  font-size: 18px;
  color: #035755;
  font-weight: bold;
  text-transform: uppercase;
}

.logo {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.nav-links {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.nav-item {
  padding: 16px;
  color: #035755;
}

.nav-button {
  outline: none;
  border: 3px solid #fb4c47;
}

.nav-links li {
  list-style-type: none;
}

ul li {
  display: inline-block;
  position: relative;
}

.nav-item > a:hover {
  color: #ff383d;
}

.nav-item > a:hover:after {
  content: '';
  position: absolute;
  bottom: -4px;
  background: #ff383d;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  left: calc(50% - 5px);
}

a.active {
  color: #ff383d;
}

a.active:after {
  content: '';
  position: absolute;
  bottom: -4px;
  background: #ff383d;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  left: calc(50% - 5px);
}

.external {
  color: #fa5652;
}

.menubar {
  background-color: white;
  position: absolute;
  width: 100%;
  height: auto;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  padding: 12px;
  z-index: 10;
  will-change: opacity;
}

/* HAMBURGER */

.hamburger {
  text-align: center;
  display: flex;
  justify-content: flex-end;
}

.hamburger-icon {
  z-index: 6;
  padding: 12px 5px;
}

.hamburger-icon span {
  height: 3px;
  width: 40px;
  background-color: #ff383d;
  display: block;
  margin: 5px 0px 5px 0px;
  transition: 0.75s ease-in-out;
  transform: none;
}

span:nth-of-type(2) {
  width: 25px;
  float: right;
}

.none span:nth-of-type(1) {
  transform: translate(0%, 425%) rotate(-45deg);
  background-color: #ff383d;
}

.none span:nth-of-type(2) {
  transform: rotate(45deg);
  width: 40px;
  background-color: #ff383d;
}

/* END  OF HAMBURGER */

@media screen and (max-width: 767px) {
  .nav-links {
    display: none;
  }

  .content {
    margin-top: 64px;
  }
}

@media screen and (min-width: 769px) {
  .hamburger {
    display: none;
  }
}
