.overview {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.overview-image {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  margin-right: 60px;
}

.overview-desc {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.external-link {
  margin: 32px 0;
  background-color: rgba(250, 86, 82, 0.15);
}

.external-link a {
  color: #fa5652;
}
