html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  font: 16px 'Red Hat Display', sans-serif;
}

body {
  background-color: #ffffff;
  color: black;

  position: relative;
}

main {
  padding: 36px 16px;
  max-width: 1140px;
  margin: auto;
  height: auto;
}

button {
  color: #ff383d;
  background-color: transparent;
  outline: none !important;
  border: none;
  font-size: 14px;
  height: 50px;
  border-radius: 46px;
  width: 140px;
  font-weight: bold;
}

section {
  margin: 150px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 800px) {
  section {
    margin: 32px 0;
  }
}
