* {
  margin: 0;
  font: 16px 'Red Hat Display', sans-serif;
}

body {
  background-color: #f4f4f4;
  color: black;
  max-width: 1140px;
  padding: 0px 16px;
  margin: auto;
  height: auto;
}

button {
  color: #ff383d;
  background-color: transparent;
  outline: none !important;
  border: none;
  font-size: 14px;
  height: 50px;
  border-radius: 46px;
  width: 140px;
  font-weight: bold;
}

section {
  margin: 80px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
